<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirect directories to non-trailing slash URL
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Allow access to admin directory
    RewriteCond %{REQUEST_URI} ^/admin/.*$ [NC]
    RewriteRule ^ - [L]

    # Redirect to login page if user is not authenticated
    RewriteCond %{REQUEST_URI} !^/admin/login\.php$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^ /admin/login.php [L]

    # Custom error page for 403 Forbidden error
    ErrorDocument 403 /error/403error.html
    # Custom error page for 404 Not Found error
    ErrorDocument 404 /error/404error.html
    # Custom error page for 500 Internal Server error
    ErrorDocument 500 /error/500error.html
</IfModule>
